<div class="about d-inline align-items-center">
    <div class="photo d-flex justify-content-center"><img src="../../../assets/fotoPerfil.png" alt="Foto Jeniffer" class="rounded-circle"></div>
    <div>
        <h1 class="name m-2 text-center">Jeniffer Lorhaynne</h1>
        <div class="tex_about d-flex justify-content-center">
            <p class="m-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo non delectus maxime suscipit. Illum libero placeat ullam dignissimos explicabo provident quasi, fugit accusantium, consequatur eum exercitationem odio voluptate, ducimus molestiae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam totam minima tenetur veritatis hic, quibusdam nostrum id et, accusamus, magni cumque saepe sint aperiam ipsam unde facere. Voluptatem, itaque ab!</p>
        </div>
        <div class="contacts d-flex justify-content-center">
            <ul class="m-2 d-flex justify-content-start">
                <li><a href="https://www.linkedin.com/in/jeniffer-lorhaynne-nascimento-96a42b2a1" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a></li>
                <li><a href="https://github.com/jenna428" target="_blank"><i class="fab fa-github fa-3x"></i></a></li>
                <li><a href="mailto:jeniffer28nascimento@gmail.com"><button type="button" class="btn btn-outline-secondary d-flex justify-content-center align-items-center"><span class="material-symbols-outlined">
                    forward_to_inbox
                </span></button></a></li>
            </ul>
        </div>
    </div>
</div>
<app-skills></app-skills>

